[defaults]
inventory       = inventory/hosts.yml
remote_user     = ansible
private_key_file = ~/.ssh/aibank_deploy
host_key_checking = False
stdout_callback = yaml
callback_whitelist = timer, profile_tasks
forks           = 10
timeout         = 30

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
